.menu {
    position: relative;
    & .menuCategories {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        & .category {
            background-color: blueviolet;
            padding: 1.5rem 1rem;
            height: 100px;
            border-radius: 7px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &>span.mdi {
                font-size: 3rem;
            }
            & .infosCategory {
                & h2 {
                    font-size: 1.7rem;
                    margin-bottom: .2rem;
                }
                & p {
                    font-size: 1.2rem;
                }
            }
        }
    }
    & .menuItems {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        & .menuItem {
            overflow: hidden;
            position: relative;
            background-color: $gray-color;
            padding: 2rem;
            height: 100px;
            border-radius: 7px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & .side {
                position: absolute;
                background-color: blueviolet;
                width: 1rem;
                height: 100%;
                top: 0;
                left: 0;
            }
            & .menuItemInfo {
                & h2 {
                    font-size: 1.7rem;
                    margin-bottom: .2rem;
                }
                & p {
                    font-size: 1.2rem;
                }
            }
            & .qtySelection {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 2rem;
                justify-content: flex-end;
                & .minus,
                .plus {
                    font-size: 2.5rem;
                    border: 1px solid $gray-color;
                    width: 3rem;
                    border-radius: 10px;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
    }
}