$main-color: #111315;
$secondary-color: #e7e7e7;
$gray-color: #4a4a4a;
$gray-dark-color: #292c2d;
$dark-color: #1f1f1f;
$linksFontSize: 1.6rem;
$usersFontSize: 1.3rem;
$tableheight: 80px;
$tablecolmarg: 2rem;
$green-color: greenyellow;
$purple-color: #558;
