.layout {
    color: $secondary-color;
    margin: 1.8rem;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    border-radius: 10px;
    height: calc(100vh - 13rem);
}