*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: $main-color;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

a {
    color: currentColor;
    text-decoration: none;
}